<div class="panel panel-default">
  <div class="panel panel-heading">

    <h2 class="list-group-item-heading">Name</h2>
    <!--change name ^ back to {{contact.name}}-->
      <span class="pull-right">
        <img src={{contact.imageUrl}} alt="{{contact.name}}" class="img-responsive" style="max-height: 50px;">
      </span>

    <div class="panel pull-right">
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-success">Delete</button>
    </div>
  </div>
  <div class="panel panel-body">
    <p class="list-group-item-text">email</p>
    <!--change email ^ back to {{contact.email}}-->
    <p class="list-group-item-text">phone</p>
    <!--change phone ^ back to {{contact.phone}}-->
  </div>
</div>
