<!--display message if touched-->

<div class="panel panel-default">
  <div class="panel-body">

    <form (ngSubmit)="onSubmit(f)"
           #f="ngForm">
      <div class="row">

        <div class="col-sm-12 form-group">
          <label for="name">Document title</label>
          <input
            type="text"
            id="name"
            class="form-control"
            [ngModel]="originalDocument?.title"
            name="title"
            required
            #title="ngModel"
            size="120"
            max="120">
        </div>

        <div class="col-sm-12 form-group">
          <label for="description">Document description</label>
          <input
            type="text"
            id="description"
            class="form-control"
            [ngModel]="originalDocument?.description"
            name="description"
            size="120"
            max="255">
        </div>


        <div class="col-sm-12 form-group">
          <label for="documentUrl">Document URL</label>
          <input
            type="text"
            id="documentUrl"
            class="form-control"
            [ngModel]="originalDocument?.url"
            name="url"
            required
            #url="ngModel"
            size="150"
            max="255">
        </div>
      </div>

      <div class="row" *ngIf="!f.valid">
        <div class="col">
          <p class="alert alert-danger">The Document title and URL are required fields</p>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  type="submit"
                  [disabled]="f.invalid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>

